@using System.Security.Claims

@model ClinicaBase.Responses.GeneralResponse

@{
    ViewData["Title"] = "Home Page";
}

@{
    if (Model != null)
    {
        if (Model.Message != null)
        {
            if (Model.Succeed == 1)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @Model.Message
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            }
        }
    }
}

@{
    
    string? rol = User.FindFirstValue(ClaimTypes.Role);

    if (rol == "Admin") 
    {
        <div class="home-cards-container">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/nuevo-paciente.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Nuevo Paciente</h5>
                    <a asp-controller="Paciente" asp-action="Agregar" class="btn btn-primary">Agregar Nuevo Paciente</a>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/editar-info.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Información del Paciente</h5>
                    <a href="#" class="btn btn-primary">Gestionar Información</a>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/examen.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Controles</h5>
                    <a href="#" class="btn btn-primary">Nuevo Control</a>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/empleados-consultorio.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Empleados</h5>
                    <a href="#" class="btn btn-primary">Manejo de Empleados</a>
                </div>
            </div>
        </div>
    }
    else if (rol == "Medico")
    {
        <div class="home-cards-container">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/nuevo-paciente.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Nuevo Paciente</h5>
                    <a asp-controller="Paciente" asp-action="Agregar" class="btn btn-primary">Agregar Nuevo Paciente</a>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/editar-info.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Información del Paciente</h5>
                    <a href="#" class="btn btn-primary">Información</a>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/examen.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Controles</h5>
                    <a href="#" class="btn btn-primary">Nuevo Control</a>
                </div>
            </div>
        </div>
    }
    else if (rol == "Enfermeria")
    {
        <div class="home-cards-container">
            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/nuevo-paciente.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Nuevo Paciente</h5>
                    <a asp-controller="Paciente" asp-action="Agregar" class="btn btn-primary">Agregar Nuevo Paciente</a>
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/editar-info.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Información del Paciente</h5>
                    <a href="#" class="btn btn-primary">Información</a>
                </div>
            </div>            
        </div>
    }
    else if (rol == "Recursos Humanos")
    {
        <div class="home-cards-container">       
            <div class="card text-center" style="width: 18rem;">
                <img src="~/img/empleados-consultorio.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-2">Empleados</h5>
                    <a href="#" class="btn btn-primary">Manejo de Empleados</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="mt-5 text-center">
            <h1>Te Damos la Bienvenida</h1>
        </div>
    }
}
